.head1 {
    display:flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 251, 245, 0.8);
    
    }
    
.texthead1 {
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 700;
    margin-top: 10px;
    display:block;
    
    }
    
.blocks {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
        }
.text1 {
    
    font-family: Montserrat;
    width: 223px;
    text-decoration: none;
    

}

.button {
    display:flex;
    justify-content: center;
    margin-top: 135px;

}

.button1 {
    font-family: Montserrat;
    border: 5px solid black;
    background-color: #DEC88E;
    font-weight: 600;
    padding: 15px 80px;
    font-size:30px;
    border-radius: 20px;
    transition-duration: 0.2s;
    transition-property: border;
    
    
}

body {
    background-color: rgba(255, 255, 255, 0.8)
}

.button1:hover {
    background-color: #DDBC66;
    font-weight:600;
    border: 6px solid black;
    transition-duration: 0.3s;
    transition-property: border;
    
}


a {
    text-decoration: none;
    color: black
}

.olympiadHistory {
    padding: 5px 20px 40px 20px;
    

}

.olympiadHistory:hover {
    border: 2px solid grey;
    transition: all 0.3s;


}

.egeSocial {
    padding: 5px 20px 40px 20px;
    

}

.egeSocial:hover {
    border: 2px solid grey;
    transition: all 0.3s; }

.egeHistory {
        padding: 5px 20px 40px 20px;
        
    }
    
.egeHistory:hover {
        border: 2px solid grey;
        transition: all 0.3s; }



.red1 {
    color:aquamarine
}

.burgermenu {
    margin-top: 5%;
    margin-left: 50%
}


.photomenulist {
    width: 300;
    height: 100px;
}   

.menulist {
    margin-left: 75%;
    font-size: 20px;
    font-family: Montserrat;
    border: 2px solid grey;
    border-radius: 10px;
}

.pointsm {
    margin-top: 5px;
}

.pointsm:hover {
    background-color: rgb(204, 204, 204);
}

@media screen and (max-width: 1086px) {
    .photomenulist {
        width: 280px;
    }
}

@media screen and (max-height: 932px) and ( max-width: 430px) { 
    .photohead1 {

        max-width: 320px;
        
    }

    .head1 {
        width: 230px;
        height: 100px;
        justify-content: left;
    }

    .egeSocial {
        height: 250px;
        width: 250px;
        
    }
    .blocks {
        display:block;
        width: 400px;
    }

    .burgermenu {
        margin-left: -1%;
        margin-top: 40px;

    }
    
}

@media screen and ( max-width: 850px) {

.burgermenu {
    margin-right: 100px;

}

.photomenulist {
    width: 270px;
    height: 40;
    
    
}

.texthead1 {
    width: 60;
    margin-left: 10%
}


}

@media screen and  ( max-width: 771px) {

    .texthead1 {
        width: 230px;
        margin-left: 50%}
    .burgermenu {
        position:relative;
        right: 100px;    }

    .photomenulist {
        width: 230px;
    }

}

@media screen and  ( max-width: 680px) {

    .photomenulist {
        width: 190px;
        height: 80px;

    }

    .pointsm {
        font-size: 12px;
    }


}

@media screen and  ( max-width: 815px) {
    .texthead1  { margin-left: 50% }

}



@media screen and  ( max-width: 590px) {



.photohead1 {
    margin-left: -100px;
    height: 50px;
    width: 160px;
}
.burgermenu {
    margin-right: 0px;
    left: -20px;
    width: 40px;
    height: 30px;
    bottom: 20px;
    
}

.photomenulist { 
    width: 130px;
    height: 50px;
}

.menulist {
    position:relative;
    right: 220px;
}

.egeSocial , .egeHistory , .olympiadHistory {
    width: 160px;
    height: 140px;
}

.phegesocial , .phegehistory , .pholymphistory {
    width: 155px;
    height: 125px;
}

.text1 {
    font-size: 12px;
}

body {
    overflow-x: hidden;
}


}
